@model QLBanDoAnNhanh.Models.DonHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayouAdmin.cshtml";
}
<h2>Chi Tiết Đơn Hàng</h2>

<div class="card">
    <div class="card-body">
        <p><strong>Mã Đơn Hàng:</strong> @Model.MaDh</p>
        <p><strong>Người Đặt:</strong> @Model.Username</p>
        <p><strong>Địa Chỉ:</strong> @Model.Diachi</p>
        <p><strong>Tổng Tiền:</strong> @Model.TongTien.ToString("N0") VND</p>
        <p><strong>Số Lượng Sản Phẩm:</strong> @Model.SoLuong</p>
        <p><strong>Trạng Thái:</strong> @Model.TrangThai</p>
        <p><strong>Ngày Tạo:</strong> @Model.CreatedAt?.ToString("dd/MM/yyyy HH:mm")</p>
        <p><strong>Ngày Cập Nhật:</strong> @Model.UpdatedAt?.ToString("dd/MM/yyyy HH:mm")</p>

        <a class="btn btn-primary" asp-action="Index">Quay lại danh sách</a>
    </div>
</div>s