@model IEnumerable<QLBanDoAnNhanh.Models.SanPham>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayouAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThanhPhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChitietSp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlbanTrongNgay)
            </th>
            <th>Hình ảnh 1</th>
            <th>Hình ảnh 2</th>
            <th>
                @Html.DisplayNameFor(model => model.MaDmNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGiamGiaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhPhan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonVi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChitietSp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SlbanTrongNgay)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.HinhAnh1))
                    {
                            <img src="@item.HinhAnh1" alt="Hình ảnh sản phẩm 1" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                            <span>Không có hình ảnh</span>
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.HinhAnh2))
                    {
                            <img src="@item.HinhAnh2" alt="Hình ảnh sản phẩm 2" style="width: 100px; height: auto;" />
                    }
                    else
                    {
                            <span>Không có hình ảnh</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDmNavigation.MaDm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaGiamGiaNavigation.MaGiamGia)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaSp">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaSp">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
