@model IEnumerable<QLBanDoAnNhanh.Models.ThanhToan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PhuongThucThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDhNavigation.MaDh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaThanhToan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaThanhToan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaThanhToan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
